/*
1. common css
1. variable declar css
1. extent/inheritance declar css
1. mixin declar css
1. navbar css
1. banner css
1. related games css


*/
/* ================Table of content end============== */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: #0d0c0f;
}

/*========== common css end ===========*/
/*=========variable declar end =========*/
#related .container header h3, #unlock .unlock-bg .unlock-text h3, #pricing header h3 {
  font-family: "Anton", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 50px;
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fdb125 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 0 35px #4d0148);
          filter: drop-shadow(0 0 35px #4d0148);
}

#related .container .path-bg .row .path-box h3, #pricing .pricing-bg .pricing-box .box h3, #subscribe .subscribe-bg .left-site h3, #subscribe .subscribe-bg .right-site h3, footer .footer-bg .left-site h3, footer .footer-bg .middle-site h3, footer .footer-bg .rigth-site h3 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}

.navbar .batton .btn, #home .banner-bg .banner-text .btn, #related .container .related-bg .images .overlay .over-text .btn, #unlock .unlock-bg .unlock-text .btn, #pricing .pricing-bg .pricing-box .box .btn, #related .container .related-bg .images .overlay .over-text h4 {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

#related .container .path-bg .row .path-box p, #unlock .unlock-bg .unlock-text p, #pricing .pricing-bg .pricing-box .box .box-list li a, #faq .faq-bg .question .accordion .accordion-item .accordion-body, #faq .faq-bg .turnament-bg .nicescroll-box .scroll-box .scroll-item, footer .footer-bg .left-site p {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.navbar .batton .btn, #home .banner-bg .banner-text .btn, #related .container .related-bg .images .overlay .over-text .btn, #unlock .unlock-bg .unlock-text .btn, #pricing .pricing-bg .pricing-box .box .btn {
  border: none;
  outline: none;
  color: #ffff;
  text-shadow: 1px 2px 0px rgba(61, 61, 61, 0.555);
  -webkit-box-shadow: 1px 4px 0px #9e4efc80;
          box-shadow: 1px 4px 0px #9e4efc80;
  background: -webkit-gradient(linear, left bottom, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to top, #570dc8, #9e4efc);
}
.navbar .batton .btn:hover, #home .banner-bg .banner-text .btn:hover, #related .container .related-bg .images .overlay .over-text .btn:hover, #unlock .unlock-bg .unlock-text .btn:hover, #pricing .pricing-bg .pricing-box .box .btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a60084), to(#ff39dc));
  background: linear-gradient(to bottom, #a60084, #ff39dc);
  -webkit-box-shadow: 1px 4px 0px #ff39db86;
          box-shadow: 1px 4px 0px #ff39db86;
}
.navbar .batton .btn:focus, #home .banner-bg .banner-text .btn:focus, #related .container .related-bg .images .overlay .over-text .btn:focus, #unlock .unlock-bg .unlock-text .btn:focus, #pricing .pricing-bg .pricing-box .box .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#home .banner-bg .banner-text h2, #faq .faq-bg .question header h2, #faq .faq-bg .turnament-bg header h2, #faq .faq-bg .turnament-bg .count-box .counts {
  background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fdb125 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 0 35px #4d0148);
          filter: drop-shadow(0 0 35px #4d0148);
}

@-webkit-keyframes azizul {
  0% {
    right: 5px;
  }
  100% {
    right: 92%;
  }
}

@keyframes azizul {
  0% {
    right: 5px;
  }
  100% {
    right: 92%;
  }
}
@-webkit-keyframes navposi {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@keyframes navposi {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes backtop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes backtop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*=========extent/inheritance declar end =========*/
/*=========mixin declar end ============*/
/*========= navbar css start ============*/
.nav-fix {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-linear-gradient(#e07e1e, #fdb125) !important;
  margin-top: 0;
  -webkit-animation: navposi 0.4s;
          animation: navposi 0.4s;
}
.nav-fix .navbar-brand img {
  width: 70% !important;
  margin-top: -15px;
  padding-top: 10px;
}
.nav-fix .navbar-nav {
  margin-top: 17px !important;
}
.nav-fix .navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.nav-fix .navbar-nav .nav-item .nav-link:hover {
  color: #222222 !important;
}
.nav-fix .batton {
  margin-top: 8px !important;
}
.nav-fix .batton .btn {
  padding: 5px 19px !important;
  margin-left: 20px !important;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #150035;
}
.navbar .navbar-brand {
  margin-top: -15px;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #ff39dc;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  padding: 0px 26px;
  color: #570dc8;
  transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #ff39dc;
}
.navbar .batton {
  margin-top: 20px;
}
.navbar .batton .btn {
  padding: 10px 25px;
  margin-left: 20px;
}

/*========= navbar css end ============*/
/*========= banner css start ============*/
#home {
  background: #150035;
  padding-bottom: 170px;
  padding-top: 100px;
  position: relative;
}
#home .banner-bg {
  position: relative;
}
#home .banner-bg .image img {
  position: absolute;
  top: 40px;
  left: -210px;
  z-index: 999;
}
#home .banner-bg .banner-text h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  color: #ffff;
  text-align: left;
  margin: 0;
  padding-top: 140px;
  padding-left: 23px;
  margin-bottom: -40px;
}
#home .banner-bg .banner-text h2 {
  font-family: "Anton", sans-serif;
  font-size: 331px;
  font-weight: 700;
  color: #fcb100;
  padding: 0;
  margin: 0;
  text-align: center;
}
#home .banner-bg .banner-text p {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  margin-top: -20px;
  text-align: center;
  padding-left: 10px;
  font-style: 20px !important;
}
#home .banner-bg .banner-text .btn {
  padding: 10px 25px;
  margin-top: 6px;
}

/*========= banner css end ============*/
/*========= related games css start ============*/
#related {
  background: #0d0c0f;
  padding-top: 170px;
  padding-bottom: 100px;
}
#related .container {
  position: relative;
}
#related .container header h3 {
  color: #ffff;
}
#related .container .path-bg {
  position: absolute;
  top: -250px;
  left: 0;
  z-index: 999;
  width: 100%;
}
#related .container .path-bg .row {
  --bs-gutter-x: 0;
}
#related .container .path-bg .row .register {
  -webkit-clip-path: polygon(0 8%, 100% 6%, 100% 94%, 0 92%);
          clip-path: polygon(0 8%, 100% 6%, 100% 94%, 0 92%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
#related .container .path-bg .row .ready {
  -webkit-clip-path: polygon(0 6%, 100% 4%, 100% 96%, 0 94%);
          clip-path: polygon(0 6%, 100% 4%, 100% 96%, 0 94%);
}
#related .container .path-bg .row .enjoy {
  -webkit-clip-path: polygon(0 4%, 100% 2%, 100% 98%, 0 96%);
          clip-path: polygon(0 4%, 100% 2%, 100% 98%, 0 96%);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#related .container .path-bg .row .path-box {
  padding: 35px 0px;
  color: #ffff;
  background: -webkit-gradient(linear, right top, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to left, #570dc8, #9e4efc);
  box-shadow: 14px -1px 151px 12px #570dc8 inset;
  -webkit-box-shadow: 14px -1px 151px 12px #570dc8 inset;
  -moz-box-shadow: 14px -1px 151px 12px #570dc8 inset;
}
#related .container .path-bg .row .path-box h2 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
  text-shadow: 1px 4px 0px rgba(61, 61, 61, 0.555);
  text-transform: capitalize;
}
#related .container .path-bg .row .path-box h3 {
  padding-top: 10px;
  margin-bottom: 0;
  text-shadow: 1px 4px 0px rgba(61, 61, 61, 0.555);
  text-transform: capitalize;
}
#related .container .path-bg .row .path-box p {
  margin-bottom: 0;
}
#related .container .related-bg .images {
  position: relative;
  overflow: hidden;
}
#related .container .related-bg .images:hover .overlay {
  top: 0;
}
#related .container .related-bg .images .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: rgba(21, 0, 53, 0.8);
  text-align: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#related .container .related-bg .images .overlay .over-text h4 {
  color: #fff;
}
#related .container .related-bg .images .overlay .over-text .btn {
  margin-top: 36px;
}

/*========= related games css end ============*/
/*========= unlock css start ============*/
#unlock {
  background: #150035;
  padding-top: 100px;
  padding-bottom: 30px;
}
#unlock .unlock-bg .unlock-text {
  padding: 70px 0px;
}
#unlock .unlock-bg .unlock-text h3 {
  color: #fff;
}
#unlock .unlock-bg .unlock-text p {
  color: #ffff;
}
#unlock .unlock-bg .unlock-text .btn {
  margin-top: 35px;
  padding: 5px 20px;
}

/*========= unlock css end ============*/
/*========= pricing plan css end ============*/
#pricing {
  padding: 100px 0px;
  background: #0d0c0f;
}
#pricing header h3 {
  color: #ffff;
}
#pricing .pricing-bg .pricing-box {
  margin-top: 35px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to top, #570dc8, #9e4efc);
  transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
#pricing .pricing-bg .pricing-box:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}
#pricing .pricing-bg .pricing-box .box {
  position: relative;
  padding: 55px 0px;
}
#pricing .pricing-bg .pricing-box .box:hover h4 {
  display: block;
  opacity: 1;
}
#pricing .pricing-bg .pricing-box .box:hover .btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#a60084), to(#ff39dc));
  background: linear-gradient(to top, #a60084, #ff39dc);
}
#pricing .pricing-bg .pricing-box .box h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#a60084), to(#ff39dc));
  background: linear-gradient(to top, #a60084, #ff39dc);
  line-height: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 1px 2px 0px rgba(61, 61, 61, 0.555);
  -webkit-box-shadow: 1px 4px 0px #28173b80;
          box-shadow: 1px 4px 0px #28173b80;
  margin-top: -25px;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 999;
  width: 100%;
  display: none;
}
#pricing .pricing-bg .pricing-box .box h3 {
  color: #fff;
  text-shadow: 1px 2px 0px rgba(61, 61, 61, 0.555);
  margin-bottom: 0;
  text-transform: capitalize;
}
#pricing .pricing-bg .pricing-box .box h2 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  padding-top: 13px;
  margin-bottom: 0;
}
#pricing .pricing-bg .pricing-box .box h5 {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 25px;
  text-transform: capitalize;
  border-bottom: 1px solid #3333;
}
#pricing .pricing-bg .pricing-box .box h5 span {
  text-transform: uppercase;
}
#pricing .pricing-bg .pricing-box .box .box-list li {
  padding-top: 20px;
}
#pricing .pricing-bg .pricing-box .box .box-list li a {
  color: #fff;
  text-transform: inherit;
}
#pricing .pricing-bg .pricing-box .box .btn {
  padding: 5px 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to top, #570dc8, #9e4efc);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*========= pricing plan css end ============*/
/*========= ask questions css end ============*/
#faq {
  background: #150035;
  padding: 95px 0px;
}
#faq .faq-bg .question header h2 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 25px;
  color: #fdb125;
  margin-bottom: 0;
}
#faq .faq-bg .question header h6 {
  width: 100%;
  height: 2px;
  background: #000000;
  margin-bottom: 0;
  position: relative;
}
#faq .faq-bg .question header h6 img {
  width: 55px;
  height: 1px;
  position: absolute;
  top: .63px;
  right: -6px;
  z-index: 111;
  -webkit-animation: azizul 6s infinite alternate;
          animation: azizul 6s infinite alternate;
}
#faq .faq-bg .question .accordion .accordion-item {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  padding: 25px;
}
#faq .faq-bg .question .accordion .accordion-item:first-child {
  margin-top: 30px;
}
#faq .faq-bg .question .accordion .accordion-item:focus {
  border-color: #fff;
}
#faq .faq-bg .question .accordion .accordion-item .accordion-button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: initial;
  color: #fff;
  background: transparent;
}
#faq .faq-bg .question .accordion .accordion-item .accordion-button:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#faq .faq-bg .question .accordion .accordion-item .accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: "";
  background-image: url("../images/arrow2.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
#faq .faq-bg .question .accordion .accordion-item .accordion-body {
  padding-left: 0;
  padding-right: 0;
}
#faq .faq-bg .question .accordion .add-border {
  border: 1px solid #fdb125;
}
#faq .faq-bg .turnament-bg header h2 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 25px;
  color: #fdb125;
  margin-bottom: 0;
}
#faq .faq-bg .turnament-bg header h6 {
  width: 100%;
  height: 2px;
  background: #000000;
  margin-bottom: 0;
  position: relative;
}
#faq .faq-bg .turnament-bg header h6 img {
  width: 55px;
  height: 1px;
  position: absolute;
  top: .63px;
  right: -6px;
  z-index: 111;
  -webkit-animation: azizul 6s infinite alternate;
          animation: azizul 6s infinite alternate;
}
#faq .faq-bg .turnament-bg .count-box {
  padding-top: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#faq .faq-bg .turnament-bg .count-box h4 {
  margin-bottom: 0;
  line-height: 75px;
  font-size: 20px;
}
#faq .faq-bg .turnament-bg .count-box .counts {
  padding: 10px 7px;
  margin-left: 20px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  color: #fdb125;
}
#faq .faq-bg .turnament-bg .count-box .counts .syotimer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#faq .faq-bg .turnament-bg .count-box .counts .syotimer__body .syotimer-cell {
  padding: 10px 7px;
  border: 1px solid #fdb125;
  margin-left: 20px;
  border-radius: 10px;
}
#faq .faq-bg .turnament-bg .count-box .counts .syotimer__body .syotimer-cell_type_hour {
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 15px;
}
#faq .faq-bg .turnament-bg .count-box .counts .syotimer__body .syotimer-cell_type_day {
  display: none;
}
#faq .faq-bg .turnament-bg .nicescroll-box {
  height: 33vh;
  width: 100%;
  margin-top: 35px;
}
#faq .faq-bg .turnament-bg .nicescroll-box .scroll-box {
  width: 100%;
  background: transparent;
}
#faq .faq-bg .turnament-bg .nicescroll-box .scroll-box .scroll-item {
  font-size: 15px;
  color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #000000;
  padding-right: 20px;
}

/*========= ask questions css end ============*/
/*========= subscribe css end ============*/
#subscribe {
  padding: 30px 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to top, #570dc8, #9e4efc);
  -webkit-box-shadow: 1px 4px 0px #9e4efc80;
          box-shadow: 1px 4px 0px #9e4efc80;
}
#subscribe .subscribe-bg .left-site h3 {
  color: #ffff;
  text-shadow: 1px 4px 0px #28173b80;
}
#subscribe .subscribe-bg .left-site .input-group {
  padding-top: 6px;
}
#subscribe .subscribe-bg .left-site .input-group .form-control {
  border: 1px solid rgba(21, 0, 53, 0.6);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}
#subscribe .subscribe-bg .left-site .input-group ::-webkit-input-placeholder {
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .left-site .input-group :-ms-input-placeholder {
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .left-site .input-group ::-ms-input-placeholder {
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .left-site .input-group ::placeholder {
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .left-site .input-group .btn-outline-secondary {
  border: 1px solid rgba(21, 0, 53, 0.6);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .left-site .input-group .btn-outline-secondary:hover {
  background: none;
  color: rgba(21, 0, 53, 0.6);
}
#subscribe .subscribe-bg .right-site h3 {
  color: #ffff;
  text-shadow: 1px 4px 0px #28173b80;
}
#subscribe .subscribe-bg .right-site .card-box .item {
  margin-right: 20px;
  margin-top: 6px;
  -webkit-box-shadow: 5px 5px 0px #28173b9f;
          box-shadow: 5px 5px 0px #28173b9f;
}

/*========= subscribe css end ============*/
/*========= footer css end ============*/
footer {
  background: #0d0c0f;
  padding-top: 60px;
}
footer .footer-bg .left-site h3 {
  color: #ffff;
  margin-bottom: 0;
}
footer .footer-bg .left-site p {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 0;
}
footer .footer-bg .left-site .social-icon .social {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  background: -webkit-gradient(linear, left bottom, left top, from(#570dc8), to(#9e4efc));
  background: linear-gradient(to top, #570dc8, #9e4efc);
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 4px 0px #9f4efc8a;
          box-shadow: 1px 4px 0px #9f4efc8a;
}
footer .footer-bg .left-site .social-icon .social:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#a60084), to(#ff39dc));
  background: linear-gradient(to top, #a60084, #ff39dc);
  -webkit-box-shadow: 1px 4px 0px #ff39db86;
          box-shadow: 1px 4px 0px #ff39db86;
}
footer .footer-bg .left-site .social-icon .social i {
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 4px 0px #28173b9a;
}
footer .footer-bg .middle-site h3 {
  color: #ffff;
  margin-bottom: 0;
}
footer .footer-bg .middle-site .middle-text {
  margin-top: 20px;
}
footer .footer-bg .middle-site .middle-text .item {
  padding-bottom: 10px;
}
footer .footer-bg .middle-site .middle-text .item .text2 {
  padding-left: 40%;
}
footer .footer-bg .middle-site .middle-text .item .text4 {
  text-transform: uppercase;
  padding-left: 33%;
}
footer .footer-bg .middle-site .middle-text .item .text6 {
  padding-left: 35%;
}
footer .footer-bg .middle-site .middle-text .item a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}
footer .footer-bg .rigth-site h3 {
  color: #ffff;
  margin-bottom: 0;
}
footer .footer-bg .rigth-site .security {
  margin-top: 25px;
}
footer .footer-bg .rigth-site .security li {
  padding-top: 27px;
}
footer .footer-bg .rigth-site .security li:first-child {
  padding-top: 0px;
}
footer .footer-bg .rigth-site .security a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  display: block;
}
footer .footer-bg .rigth-site .security img {
  padding-right: 30px;
}
footer .copy {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: inherit;
  border-top: 2px solid black;
  line-height: 50px;
  position: relative;
}
footer .copy img {
  width: 150px;
  height: 2px;
  position: absolute;
  top: -0.37px;
  right: -6px;
  z-index: 9999;
  -webkit-animation: azizul 6s infinite alternate;
          animation: azizul 6s infinite alternate;
}

/*========= footer css end ============*/
/* ==back to top button start== */
.back-to-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: var(--bg);
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  cursor: pointer;
  display: none;
}
.back-to-top i {
  line-height: 40px;
  font-size: 30px;
  color: #fdb125;
  -webkit-animation: backtop 0.8s infinite;
          animation: backtop 0.8s infinite;
}

/* ==back to top button end== */
